@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  min-height: 100%;
  background: var(--background);
}

body {
  color: var(--foreground);
}
